.body-container {
  padding: 1.4rem;
  font-size: 1rem;
}

.header-container {
  display: flex;
  gap: 20%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 770px) {
  .header-container {
    flex-wrap: wrap;
  }
}

.header-righ-side {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main-body-container {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

@media only screen and (max-width: 770px) {
  .main-body-container {
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: none;
  }

  .main-body-container .main-left-side-container {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .main-body-container .main-right-side-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
}
